
body {
	margin: auto;
	padding: 0px;
	font-size: 16px;
	color: #757575;
	font-family: 'THICCCBOI'
}




/*count*/


/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half {
	width: 49%;
}

.col_third {
	width: 32%;
}

.col_fourth {
	width: 23%;
}

.col_fifth {
	width: 18.4%;
}

.col_sixth {
	width: 15%;
}

.col_three_fourth {
	width: 74.5%;
}

.col_twothird {
	width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
	position: relative;
	display: inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}

.end {
	margin-right: 0 !important;
}

/* Column Grids End */

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .counter.col_fourth {
	margin-right: 0px;
	text-align: left;
	padding: 20px;
	margin-bottom: 0;
}
.counter {
	border-radius: 0;
	padding: 5px 0;
}

.count-title {
	font-size: 48px;
	color: #ffffff;
	font-weight: 800;
	margin-top: 0px;
	margin-bottom: 0;
	line-height: 72px;
	text-transform: uppercase;
}

.count-text {
	color: #FFF;
	text-align: left;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	text-transform: uppercase;
}

.fa-2x {
	margin: 0 auto;
	float: none;
	display: table;
	color: #4ad1e5;
}

.col_fourth-1 .timer.count-title.count-number::after {
	content: '+';
}
.col_fourth-2 .timer.count-title.count-number::after {
	content: '%';
}
/* .col_fourth-3 .timer.count-title.count-number::before {
	content: '+';
} */
.col_fourth-4 .timer.count-title.count-number::after {
	content: '+';
}

.col_fourth-3 .timer.count-title.count-number::after {
	content: 'M+';
}

.hmcount-bg .large-heading{
	margin-bottom: 20px;
}

/***help center page end***/
