@font-face {
    font-family: 'THICCCBOI';
    src: url('../font/THICCCBOI-Bold.eot');
    src: url('../font/THICCCBOI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-Bold.woff2') format('woff2'),
        url('../font/THICCCBOI-Bold.woff') format('woff'),
        url('../font/THICCCBOI-Bold.ttf') format('truetype'),
        url('../font/THICCCBOI-Bold.svg#THICCCBOI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../font/THICCCBOI-Light.eot');
    src: url('../font/THICCCBOI-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-Light.woff2') format('woff2'),
        url('../font/THICCCBOI-Light.woff') format('woff'),
        url('../font/THICCCBOI-Light.ttf') format('truetype'),
        url('../font/THICCCBOI-Light.svg#THICCCBOI-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../font/THICCCBOI-ExtraBold.eot');
    src: url('../font/THICCCBOI-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-ExtraBold.woff2') format('woff2'),
        url('../font/THICCCBOI-ExtraBold.woff') format('woff'),
        url('../font/THICCCBOI-ExtraBold.ttf') format('truetype'),
        url('../font/THICCCBOI-ExtraBold.svg#THICCCBOI-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../font/THICCCBOI-Black.eot');
    src: url('../font/THICCCBOI-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-Black.woff2') format('woff2'),
        url('../font/THICCCBOI-Black.woff') format('woff'),
        url('../font/THICCCBOI-Black.ttf') format('truetype'),
        url('../font/THICCCBOI-Black.svg#THICCCBOI-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../font/THICCCBOI-Regular.eot');
    src: url('../font/THICCCBOI-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-Regular.woff2') format('woff2'),
        url('../font/THICCCBOI-Regular.woff') format('woff'),
        url('../font/THICCCBOI-Regular.ttf') format('truetype'),
        url('../font/THICCCBOI-Regular.svg#THICCCBOI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI ';
    src: url('../font/THICCCBOI-SemiBold.eot');
    src: url('../font/THICCCBOI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-SemiBold.woff2') format('woff2'),
        url('../font/THICCCBOI-SemiBold.woff') format('woff'),
        url('../font/THICCCBOI-SemiBold.ttf') format('truetype'),
        url('../font/THICCCBOI-SemiBold.svg#THICCCBOI-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI Thin icccAF';
    src: url('../font/THICCCBOI-ThicccAF.eot');
    src: url('../font/THICCCBOI-ThicccAF.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-ThicccAF.woff2') format('woff2'),
        url('../font/THICCCBOI-ThicccAF.woff') format('woff'),
        url('../font/THICCCBOI-ThicccAF.ttf') format('truetype'),
        url('../font/THICCCBOI-ThicccAF.svg#THICCCBOI-ThicccAF') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../font/THICCCBOI-Thin.eot');
    src: url('../font/THICCCBOI-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-Thin.woff2') format('woff2'),
        url('../font/THICCCBOI-Thin.woff') format('woff'),
        url('../font/THICCCBOI-Thin.ttf') format('truetype'),
        url('../font/THICCCBOI-Thin.svg#THICCCBOI-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../font/THICCCBOI-Medium.eot');
    src: url('../font/THICCCBOI-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/THICCCBOI-Medium.woff2') format('woff2'),
        url('../font/THICCCBOI-Medium.woff') format('woff'),
        url('../font/THICCCBOI-Medium.ttf') format('truetype'),
        url('../font/THICCCBOI-Medium.svg#THICCCBOI-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

