* {
  font-family: 'THICCCBOI';
}
html {
  scroll-behavior: smooth;
}
section {
  width: 100%;
  float: left;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.logo-bar .navbar-brand img {
  width: 136.986px;
  height: auto;
}
.logo-bar .navbar-expand-lg .navbar-nav .nav-link {
  color: #242525;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 14px 16px;
}
.head-btn {
  color: #fff;
  padding: 12px 40px !important;
  background: linear-gradient(to right, #252525 50%, #4457ff 50%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.5s ease-out;
  border-radius: 50px;
  font-family: THICCCBOI;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  text-align: center;
}
.head-btn:hover {
  background-position: left bottom;
  color: #fff !important;
}
header.logo-bar {
	padding: 8px 160px;
	width: 100%;
	float: left;
	transition: 0.5s ease-out;
	position: fixed;
}
header.logo-bar.sticky {
  position: fixed;
  top: 0;
  background: #f3f6ff;
  z-index: 9;
}
.banner .banner-images img {
  width: 100%;
  float: left;
}
.sub-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  color: #5e6a75;
}
.ban-head {
  color: #132547;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  min-width: 710px;
  padding: 24px 0 40px 0;
}
.banner {
	padding: 140px 0 0 160px;
}
.row-dtr {
  align-items: center;
}
.ban-head span {
  display: block;
}
.banner {
  background-image: url('../images/banner-bg.jpg');
  background-size: cover;
  background-position: top;
}
.banner-paddhj {
  padding: 0;
}
.ecc-site {
  background: #4457fe;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #fff;
  padding: 20px 32px;
  border-radius: 50px;
  background: linear-gradient(to right, #252525 50%, #4457ff 50%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.5s ease-out;
}
.ecc-site:hover {
  color: #fff;
  background-position: left bottom;
}

.ecc-btn span {
  color: #5e6a75;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  /* margin-top: 16px; */
}
.ecc-btn {
  display: flex;
  align-items: left;
  gap: 16px;
  /* background: #F3F5FF; */
  padding: 12px 20px 12px 12px;
  border-radius: 50px;
  max-width: fit-content;
  flex-direction: column;
}
.section-2 {
  /* background: linear-gradient(89.98deg, #132547 0.02%, #4457FF 48.91%, #132547 97.81%); */
  padding: 24px 0;
  position: relative;
  z-index: 2;
  background-color: #1a2b4c;
}
.section-2::before {
  content: '';
  background: #f3f5ff;
  bottom: -20px;
  right: 0;
  position: absolute;
  z-index: -4;
  width: 100%;
  height: 20px;
  transform: rotate(-0.1deg);
}
.move-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.move-content .moving {
  display: flex;
  align-items: center;
  gap: 10px;
}
.move-content .moving p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 0;
}
.section-2 h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0 0 0 80px;
}
#rssBlock {
  overflow: hidden;
}
.section-5 {
  background: #f3f5ff;
  padding: 100px 0;
}
.development .icon-factor {
  padding: 18px;
  background: #4457ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  max-width: fit-content;
  margin: auto;
}
.development h4 {
	font-family: THICCCBOI;
	font-size: 20px;
	font-weight: 700;
	line-height: 130%;
	text-align: center;
	color: #132547;
	margin: 24px 0 16px 0;
}
.development p {
  font-family: THICCCBOI;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  color: #7a7d9c;
}
.development {
  padding: 20px;
  margin: 10px 0;
  border-radius: 12px;
  transition: 0.5s ease-out;
}
.development:hover {
  background: #fff;
}
.section-6 {
  padding: 100px 0;
}
.section-6 .nav-item .nav-link {
  padding: 20px 40px;
  border-radius: 50px;
  font-family: THICCCBOI;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #132547;
  background: #f3f5ff;
  transition: 0.5s ease-out;
}
.section-6 .nav-item .nav-link:hover {
  /* background: linear-gradient(96.98deg, #132547 -22.77%, #4457FF 50.88%, #132547 116.2%); */
  color: #fff !important;
  background-color: #4457fe;
}
.section-6 .nav-item .nav-link.active {
  /* background: linear-gradient(96.98deg, #132547 -22.77%, #4457FF 50.88%, #132547 116.2%); */
  color: #fff !important;
  background-color: #4457fe;
}
.section-6 .nav.nav-pills {
  padding: 20px 20px;
  background: #f3f5ff;
  border-radius: 50px;
  margin: 40px 0 0 0;
}
.sec-6-app-img {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.section-6 .ecc-btn {
  margin: auto;
  flex-direction: column;
  background: transparent;
}
.section-7 {
  padding: 40px 0;
  /* background: linear-gradient(89.98deg, #132547 0.02%, #4457FF 25.71%, #4457FF 61.72%, #132547 97.81%); */
  background-color: #1a2b4c;
}
.section-7 .heading,
.section-7 .sub-heading {
  text-align: left;
  color: #fff;
}
.section-7 .heading {
  margin: 20px 0 40px;
}
.section-7 .ecc-site {
  /* border: 1px solid #ffffff; */
  /* background: #4457FF; */
  text-align: center;
  background: linear-gradient(to right, #ffffff 50%, #4457ff 50%);
  background-position-x: 0%;
  background-position-y: 0%;
  /* background-size: auto; */
  /* background-position-x: 0%; */
  /* background-position-y: 0%; */
  /* background-size: auto; */
  /* background-position-x: 0%; */
  /* background-position-y: 0%; */
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.5s ease-out;
}
.section-7 .ecc-site:hover {
  color: #000000;
  background-position: left bottom;
}
.section-7 .ecc-btn {
  flex-direction: column;
  background: transparent;
  padding: 0;
  justify-content: flex-start;
  align-items: inherit;
}
.section-7 .ecc-btn span {
  color: #fff;
}
.section-8 {
  padding: 100px 0;
  background: #f3f5ff;
}
.inner-head {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #132547;
}
.in-content p {
  color: #7a7d9c;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin: 0;
}
.in-content .heading {
  padding: 0;
}
.in-content .sub-heading {
  padding: 16px 0;
}
.section-8 .ecc-btn {
  background: transparent;
  padding: 0;
  margin-top: 40px;
}
.section-8 .ecc-btn .ecc-site {
  border: 2px solid #4457fe;
  background: transparent;
  color: #4457fe;
  position: relative;
  top: 0;
  transition: 0.5s ease-out;
}
.section-8 .ecc-btn .ecc-site:hover {
  top: -10px;
}
.inn-content-img img {
  width: 100%;
  float: left;
  border-radius: 20px;
}
.section-8 .row {
  margin-top: 64px;
  align-items: center;
}
.section-8 .row-rev {
  flex-direction: row-reverse;
}
.wrapper .counter.col_fourth.col_fourth-1 {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  border-image-slice: 1;
  width: 100%;
}
.wrapper .counter.col_fourth.col_fourth-2 {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 1;
  width: 100%;
}
.left-bord {
  position: relative;
}
.right-bord {
  position: relative;
}
.left-bord::after {
  content: '';
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.right-bord::after {
  content: '';
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.section-9 .inner-block-1 .scr-img {
  background: #4457ff;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-9 .inner-block-2 .scr-img {
  background: #132547;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-9 .inner-block-3 .scr-img {
  background: #fff;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-9 .inner-block-1 {
  background: #f3f5ff;
  border-radius: 24px;
  padding: 35px 30px;
  border: 1px solid #f3f5ff;
}
.section-9 .inner-block-2 {
  background: #f3f5ff;
  border-radius: 24px;
  padding: 50px 30px;
  background: #dae0ff;
  border: 1px solid #f3f5ff;
}
.section-9 {
  padding: 80px 0;
}
.section-9 .inner-block-3 {
  background: #f3f5ff;
  border-radius: 24px;
  padding: 65px 30px;
  background: #4457ff;
  border: 1px solid #f3f5ff;
}
.section-9 .in-content .sub-heading {
  padding: 0 0 8px;
  color: #132547;
}
.section-9 .inner-block-3 .in-content .sub-heading {
  padding: 0 0 8px;
  color: #fff;
}
.section-9 .inner-block-3 .in-content .inner-head {
  color: #fff;
}
.section-9 .inner-block p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #7a7d9c;
}
.section-9 .inner-block-3 p {
  color: #fff;
}
.section-9 .ecc-btn {
  padding: 0;
  max-width: 100%;
  margin: 30px 0 0 0;
}
.section-9 .ecc-btn .ecc-site {
  border: 1px solid #4457ff;
  background: #dae0ff00;
  color: #4457ff;
  width: 100%;
}
.section-9 .inner-block .in-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0 0 44px auto;
}
.section-9 .row {
  align-items: end;
}
.section-9 .inner-block-3 .ecc-btn .ecc-site {
  border: 1px solid #fff;
  background: #4457ff;
  color: #fff;
  width: 100%;
}
.section-9 .inner-block-2 .ecc-btn .ecc-site {
  background: #dae0ff;
}
.section-10 .row {
  justify-content: center;
}
.inner-block-form .form-group input {
  color: #fff;
  border-style: solid;
  border-color: transparent;
  height: 58px;
  border-radius: 40px 0 0 40px;
  box-shadow: none;
  background-color: transparent;
}
.section-9 .heading {
  margin-bottom: 40px;
}
.ecc-site-form {
  background: #4457ff;
  padding: 19px 20px;
  /* border-radius: 0 40px 40px 0; */
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  border-radius: 100px;
}
.ecc-site-form:hover {
  color: #fff;
}
.section-10 {
  /* padding: 0px; */
  background-color: #1a2b4c;
  padding: 100px 0px;
}
.section-10 .heading {
  color: #fff;
}
.section-10 .sub-heading {
  color: #fff;
}
.inner-block-form {
  display: flex;
  align-items: center;
}
.inner-block-form .form-group {
  margin: 0;
}
.inner-block-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 8px 24px;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.inner-block-form .in-content {
  flex: 0 0 70%;
  max-width: 70%;
}
.inner-block-form .ecc-btn {
  padding: 0;
  flex: 0 0 30%;
  max-width: 30%;
  background: transparent;
  display: flex;
  justify-content: end;
}

.inner-last-foot {
  /* background: linear-gradient(89.98deg, #132547 0.02%, #4457FF 25.71%, #4457FF 61.72%, #132547 97.81%); */
  padding: 20px 160px 20px;
  background-color: #1a2b4c;
}
.footer {
  /* background: linear-gradient(89.98deg, #132547 0.02%, #4457FF 25.71%, #4457FF 61.72%, #132547 97.81%); */
  padding: 40px 160px;
  /* border-bottom: 1px solid #5768DD; */
  border-bottom: 1px solid #ffffff33;
  background-color: #1a2b4c;
}
.footer .foot-img {
  text-align: center;
}
.footer .oo-p {
  padding: 16px 0 40px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.footer h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 0;
  float: left;
  /* width: 100%; */
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.inner-last-foot .row {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.inner-last-foot p {
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.footer ul li a {
  color: #fff;
}
.footer .foot-half ul li {
  float: left;
  width: 50%;
}
.mb-new-foot ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}
.footer .footer-social-icon {
  display: flex;
  gap: 17px;
}
.footer-social-icon a {
  color: #f3f5ff;
  font-size: 18px;
}

.inner-last-foot a {
  color: #fff;
  font-weight: 700;
}
.foot-left p {
  text-align: right;
}
.section-11 .row {
  justify-content: center;
}
.section-11 .card-header {
  position: relative;
  padding: 0;
  border: 0;
}
.section-11 .card:first-child {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.section-11 .card:last-child {
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}
.section-11 .card {
  margin: 10px 0;
  border: 0;
}
.section-11 .card .card-body {
  color: #7a7d9c;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
.section-11 .card-header a {
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
  color: #132547;
  display: block;
  padding: 20px 24px;
  background: #ffffff;
}
.section-11 {
  background: #f3f5ff;
  padding: 80px 0;
}
.section-11 #accordion {
  margin: 40px 0;
}
.section-11 .card-header .card-link.collapsed::before {
  content: '+';
  position: absolute;
  right: 16px;
  font-size: 30px;
  top: 22px;
  font-weight: 500;
  color: #7a7d9c;
  transform: rotate(0deg);
}
.section-11 .card-header .card-link::before {
  content: '+';
  position: absolute;
  right: 16px;
  font-size: 30px;
  top: 22px;
  font-weight: 500;
  color: #7a7d9c;
  transform: rotate(45deg);
}
.section-11 .ecc-btn {
  /* background: #fff; */
  margin: auto;
  background-color: transparent;
}

.marqueeStyle {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}
.section-3 .nav-pills-custom .nav-link {
  color: #5e6a75;
  font-family: THICCCBOI;
  font-size: 17px;
  font-weight: 700;
  padding: 20px 0px;
  line-height: 125%;
  text-align: left;
  margin-bottom: 16px;
  max-width: fit-content;
  transition: 0.5s ease-out;
}
.section-3 .nav-pills-custom .nav-link:hover {
  color: #fff;
  padding: 20px 20px;
  border-radius: 46px;
  position: relative;
  right: 11px;
  z-index: 1;
  text-align: left;
  background-color: #1a2b4c;
}
.section-3 .nav-pills-custom .nav-link.active {
  color: #fff;
  padding: 20px 20px;
  /* background: linear-gradient(96.98deg, #132547 -22.77%, #4457FF 50.88%, #132547 116.2%); */
  border-radius: 46px;
  position: relative;
  right: 11px;
  z-index: 1;
  text-align: left;
  background-color: #1a2b4c;
}
.section-3 {
  padding: 100px 0 100px;
  background: #fff;
  position: relative;
}
.heading {
  color: #132547;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
}
.heading span {
  display: block;
  font-weight: 700;
}
.sub-heading-center {
  text-align: center;
  margin: 20px 0 40px 0;
}
.nav.flex-column.nav-pills.nav-pills-custom {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
}
.trab-img img {
  width: 100%;
  background: #edf2f8;
  object-fit: none;
}
/* .trab-img {
	display: flex;
	justify-content: end;
} */
.section-3 .row.row-padd {
  background: #edf2f8;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #5e6a7566;
}
.section-3 .ecc-btn {
  /* margin: 64px auto 0; */
  margin: 40px auto 0;
  flex-direction: column;
  background: transparent;
}
.text-white {
  color: #ffffff;
}
.section-4 {
  padding: 100px 0 100px 0;
  /* background: linear-gradient(89.98deg, #132547 0.02%, #4457FF 48.91%, #132547 97.81%); */
  background-color: #1a2b4c;
}
.client-img {
	padding: 10px;
	background: #f3f5ff;
	border-radius: 10px;
	height: 100px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-4.section-4-test {
	background: #fff;
}
.client-img img {
  width: auto !important;
  height: 44px;
}
.section-4 .hmclients_word {
  margin: 40px 0 0 0;
}
/* start slider css */

#slider {
  width: 100%;
  margin: 0 auto;
}
#slider img {
  display: none;
  border-radius: 20px;
  height: auto;
  width: 100%;
  &.show {
    display: inline;
  }
}

.hiding {
  display: none;
}
.mb-btn {
  display: none;
}
.section-9 .client-testimonials {
  padding: 30px 50px;
  border-radius: 12px;
  background-color: #edf2f8;
}
.section-9 .client-testimonial-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #00000033;
}
.section-9 .client-testimonial-content p {
  margin: 0;
  font-size: 16px;
  min-height: 108px;
  text-align: left;
  color: #5c6185;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
}
.client-data {
  display: flex;
  /* align-items:center; */
  gap: 15px;
  margin-top: 36px;
}
.client-name h3 {
  font-family: THICCCBOI;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1d1d1d;
}
.client-start-rating {
  display: flex;
  gap: 5px;
}
.client-start-rating img {
  width: auto;
  height: 13.42px;
  object-fit: cover;
}
.client-testimonials-inner-img img {
  width: auto !important;
  height: 43px !important;
  margin-bottom: 23px;
}
.footer .foot-img .profil_img {
  width: auto;
  height: 64px;
}
.inner-block-form .form-group input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.section-8 .sub-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  color: #7a7d9c;
}
.section-8 .in-content p {
  color: #7a7d9c;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  text-align: left;
  margin: 0;
}
.new-banner-img img {
  width: 100%;
}
.section-10 .sub-heading-center span {
  display: block;
}
.add-sec {
  padding: 80px;
}
.add-sec .heading {
  text-align: center;
}
.add-sec .sub-heading {
  color: #7a7d9c;
}
.add-sec .heading {
  font-weight: 700;
}
.add-sec .ecc-btn {
  margin: auto;
  flex-direction: column;
  background: transparent;
}
.section-7 .sub-heading {
  font-family: THICCCBOI;
  font-weight: 400;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0%;
}
.section-7 .row {
  align-items: center;
}

.section-9 .owl-dots.disabled {
  display: block;
}
.section-9 .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px;
}
.section-9 .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #6690f4;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #6690f4;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

/* animation start */
/*Animations*/

[data-animate-in] {
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

[data-animate-in='up'] {
  transform: translate3d(0, 24px, 0);
}

[data-animate-in='left'] {
  transform: translate3d(-25%, 0, 0);
}

[data-animate-in='right'] {
  transform: translate3d(25%, 0, 0);
}

[data-animate-in='down'] {
  transform: translate3d(0, -24px, 0);
}

[data-animate-in='fadeIn'] {
  transform: translate3d(0, 0, 0);
}

[data-animate-in].in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease;
}

.page-loaded .fade-in,
.page-loaded.fade-in {
  opacity: 1;
}

.isSafari.isTouch [data-animate-in],
.isSafari.isTouch [data-animate-in='up'] {
  opacity: 1;
  transition: none;
  transform: none;
}
/* animation end */

.banner,
.section-2,
.section-5,
.section-6,
.section-7,
.section-8,
.section-9,
.section-10,
.section-11 {
  overflow: hidden;
}
.modal-body form label {
  color: #1c2c4d;
  font-size: 16px;
}
.modal-body form input {
  height: 50px;
  border-radius: 0;
  border: 1px solid #ced4da;
  background: transparent;
}
.modal-body form select {
    height: 50px;
    border-radius: 0;
    border: 1px solid #ced4da;
    background: transparent;
    width: 100%;
    color: #757575;
    padding: 6px 12px;
}
.modal-body form input:focus-visible {
    outline: 0;
}
.modal-body form input:focus {
   box-shadow: none;
}
.modal-body form select:focus-visible {
    outline: 0;
}
.modal-body form textarea {
  height: 100px;
  border-radius: 0;
  border: 1px solid #ced4da;
  background: transparent;
}
.modal-body .btn.btn-primary {
  background: #4457ff;
  border: 0;
  font-size: 16px;
  width: 140px;
  padding: 10px;
  border-radius: 30px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.modal-header .modal-title {
  color: #000;
}
.modal-content {
  background: #ffffff;
}
.sec-bladj {
	border-radius: 20px;
	background: #edf2f8;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	border: 1px solid #5e6a7566;
	position: relative;
	top: 0;
	transition: 0.5s ease-out;
}

.sec-bladj:hover {
	top: -10px;
	background: #fff;
}
.sec-bladj-img img {
  width: auto;
  height: 64px;
}
.sec-bladj-content h3 {
  font-family: THICCCBOI;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1a2b4c;
}
.section-4 .row-sec-4 {
  margin: 40px 0;
  gap: 24px 0;
}
label.error {
  color: red !important;
  font-size: 14px;
}
.sec-adg .sec-bladj {
  flex: 0 0 20%;
  gap: 20px;
  max-width: 20%;
  padding: 80px 32px 32px 32px;
  position: relative;
  transition: 0.5s ease-out;
  top: 0;
}
.sec-adg .sec-bladj:hover {
  position: relative;
  top: -10px;
}
.iti.iti--allow-dropdown.iti--separate-dial-code {
  width: 100%;
}
.sec-adg {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}
.sec-adg .sec-bladj-content p {
	color: #1A2B4C;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0%;
	text-align: center;
}
.text-ab {
	opacity: 15%;
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0%;
	text-transform: uppercase;
	color: #1A2B4C;
	position: absolute;
	top: 15px;
	left: 15px;
}
.section-4.section-4-af {
	background: #1E3A8A;
}
.heading-content-para p {
	color: #7A7D9C;
	font-weight: 700;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 40px;
}
.sec-5-af-block-1 {
	padding: 40px;
	background: #1E3A8A;
	font-weight: 700;
	font-size: 28px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #fff;
}
.sec-5-af-block-3 h4 {
	font-weight: 800;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	text-transform: uppercase;
	color: #1e3a8a;
  margin: 0;
}
.sec-5-af-block-3 p {
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0%;
	text-transform: uppercase;
	color: #7A7D9C;
}
.sec-5-af-block-3 {
	display: flex;
	gap: 20px;
	align-items: center;
}
.sec-5-af-block-1 {
	padding: 16px;
	font-size: 20px;
}
.sec-5-af-block-2 {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: #fff;
}
.sec-5-af-block {
	border-radius: 20px;
	overflow: hidden;
	border: 1px solid #5E6A7533;
}
.section-5.section-5-af .row.row-sec-4 {
	margin-bottom: 32px;
}
.section-5.section-5-af .heading span {
	display: inline;
}
.cl-blue {
  color: #1E3A8A !important;
}
.banner-form form input {
	height: 60px;
	border-radius: 0;
	border: 1px solid #1A2B4C;
	background: transparent;
	border-radius: 12px;
}
.banner-form form textarea {
	height: 80px;
	border-radius: 0;
	border: 1px solid #1A2B4C;
	background: transparent;
	border-radius: 12px;
}
.banner-form form input::placeholder, .banner-form form textarea::placeholder {
	color: #1A2B4C;
}
.banner-form form .iti--separate-dial-code .iti__selected-flag {
	height: 60px !important;
	border-radius: 12px;
}
.banner.banner-af {
	background-image: url('/images/af-banner.jpg');
}
.banner-form {
	padding: 40px;
	background: #fff;
	border-radius: 20px 20px 0 0;
}
.banner-form .ecc-site {
	background: #1E3A8A;
	border: 0;
}
.banner-form .ecc-btn {
	margin: auto;
}
.banner.banner-af .sub-heading {
	line-height: 130%;
}
.section-5.sec-5-hide.sec-5-hide-af {
	background: #fff;
}
.section-5.sec-5-hide.sec-5-hide-af .development:hover {
	background: #f3f5ff;
}
.banner.banner-af.banner-contact .ban-head {
	padding-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding-bottom: 24px;
}
.banner.banner-af.banner-contact .sub-heading {
	text-align: center;
}
.banner.banner-af.banner-contact {
	padding: 180px 0 70px 0;
}
.sec-contact .banner-form {
	padding: 40px;
	background: #f3f5ff;
	border-radius: 20px 20px;
}
.sec-contact {
  padding: 60px 0;
}
.section-11.section-11-contact .card {
	background-color: #f3f5ff;
}
.section-11.section-11-contact .card-header a {
	background: #f3f5ff;
}
.section-11.section-11-contact {
	padding: 0;
	background: transparent;
}
.sec-contact .heading {
	text-align: left;
}
.section-11.section-11-contact #accordion {
	margin: 20px 0 0 0;
}
.section-4 .ecc-btn span {
	color: #fff;
	/* margin-top: 16px; */
}
/* .another-sec-9 .heading-content{
      margin-bottom: 40px;
} */
/* end slider css */
@media (min-width: 1366px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}
/* v */
.whatsapp_btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
        z-index: 9999;
}
.whatsapp_btn img {
    box-shadow: 0px 0px 1px 1px #0000001a;
    border-radius: 100%;
    background: #fff;
    animation: pulse-animation 2s infinite;
        max-width: 45px;
}
.client-testimonials_new1 img {
	width: 80px !important;
	height: 80px;
	border-radius: 50%;
}
.client-testimonials_new1 h3 {
	font-size: 20px;
	color: #132547;
	line-height: 120%;
	margin: 0;
}
.client-testimonials_new1 p {
	font-size: 16px;
	color: #5c6185;
  margin: 0;
}
.client-testimonials_new {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 24px;
}
.client-testimonials_new1 h3 span {
	color: #5c6185;
	font-size: 16px;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(189 189 189);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@media (max-width: 1600px) {
  .ban-head {
    font-size: 66px;
    line-height: 100%;
  }
  .sec-5-af-block-1 {
    padding: 36px;
    font-size: 24px;
  }
  .sec-5-af-block-3 h4 {
    font-size: 54px;
  }
  .sec-5-af-block-3 p {
    font-size: 16px;
  }
  .sec-bladj-img img {
    width: auto;
    height: 58px;
  }
  .sec-bladj-content h3 {
    font-size: 22px;
  }
  .sec-bladj {
    padding: 36px;
    gap: 36px;
  }
  header.logo-bar {
    padding: 8px 140px;
  }
  .banner {
    padding: 140px 0 0 140px;
  }
  .heading {
    font-size: 60px;
    line-height: 125%;
  }

  .section-2 h3 {
    margin: 0 0 0 50px;
    font-size: 20px;
  }
  .move-content .moving p {
    font-size: 18px;
  }
  .move-content .moving {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 auto;
    overflow: hidden;
  }
  .sub-heading {
    font-size: 24px;
  }
  .inner-head {
    font-size: 44px;
    line-height: 100%;
  }
  .ecc-site {
    font-size: 22px;
  }
  .client-img img {
    width: auto !important;
    height: 36px;
  }
  .footer,
  .inner-last-foot {
    padding-left: 120px;
    padding-right: 120px;
  }
  .section-7 .sub-heading {
    font-size: 60px;
  }
  .section-3 .nav-pills-custom .nav-link {
    font-size: 15px;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    padding: 15px 15px;
    /* background: linear-gradient(96.98deg, #132547 -22.77%, #4457FF 50.88%, #132547 116.2%); */
  }
}

@media (max-width: 1455px) {
  .ban-head {
    font-size: 60px;
    line-height: 100%;
  }
  .sec-5-af-block-1 {
    padding: 28px;
  }
  .sec-5-af-block-3 h4 {
    font-size: 48px;
  }
  header.logo-bar {
    padding: 8px 120px;
  }
  .banner {
    padding: 120px 0 0 120px;
  }
  .heading {
    font-size: 54px;
    line-height: 125%;
  }

  .section-2 h3 {
    margin: 0 0 0 30px;
    font-size: 18px;
  }
  .sub-heading {
    font-size: 22px;
  }
  .inner-head {
    font-size: 40px;
    line-height: 100%;
  }
  .ecc-site {
    font-size: 20px;
  }
  .count-title {
    font-size: 44px !important;
    line-height: 200% !important;
  }
  .count-text {
    font-size: 18px;
    line-height: 150%;
  }
  .footer,
  .inner-last-foot {
    padding-left: 80px;
    padding-right: 80px;
  }
  .section-7 .sub-heading {
    font-size: 54px;
  }
}
@media (max-width: 1366px) {
  .ban-head {
    font-size: 54px;
    line-height: 100%;
  }
  .text-ab {
    font-size: 50px;
  }
  .sec-adg .sec-bladj {
    flex: 0 0 18%;
    gap: 20px;
    max-width: 18%;
    padding: 65px 20px 20px 20px;
    position: relative;
    transition: 0.5s ease-out;
    top: 0;
  }
  .sec-adg .sec-bladj-content p {
    margin: 0;
    min-height: 62px;
  }
  header.logo-bar {
    padding: 8px 100px;
  }
  .trab-img img {
    width: 100%;
    background: #edf2f8;
    object-fit: inherit;
  }
  .banner {
    padding: 120px 0 0 100px;
  }
  .heading {
    font-size: 48px;
    line-height: 125%;
  }
  .sec-bladj-img img {
    width: auto;
    height: 48px;
  }
  .sec-bladj-content h3 {
    font-weight: 600;
    font-size: 20px;
  }
  .section-2 h3 {
    margin: 0 0 0 30px;
    font-size: 18px;
  }
  .sub-heading {
    font-size: 20px;
  }
  .inner-head {
    font-size: 36px;
    line-height: 100%;
  }
  .ecc-site {
    font-size: 18px;
  }
  .count-title {
    font-size: 40px !important;
    line-height: 200% !important;
  }
  .count-text {
    font-size: 16px;
    line-height: 150%;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
  }
  .section-3 {
    padding: 80px 0;
  }
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  .section-10,
  .section-11 {
    padding: 70px 0;
  }
  .section-6 .nav-item .nav-link {
    padding: 15px 20px;
  }
  .ecc-site-form {
    font-size: 16px;
    font-weight: 500;
  }
  .footer,
  .inner-last-foot {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-7 .sub-heading {
    font-size: 48px;
  }
  .section-9 .client-testimonial-content p {
    min-height: 104px;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
  }
  /* .another-sec-9{
		padding: 70px 0px 0px!important;
	} */
}

@media (max-width: 1299px) {
  .ban-head {
    font-size: 48px;
    line-height: 100%;
  }
  .heading {
    font-size: 42px;
    line-height: 125%;
  }
  header.logo-bar {
    padding: 8px 80px;
  }
  .banner {
    padding: 120px 0 0 80px;
  }
  .section-2 h3 {
    margin: 0 0 0 20px;
    font-size: 18px;
  }
  .sub-heading {
    font-size: 18px;
  }
  .inner-head {
    font-size: 32px;
    line-height: 100%;
  }
  .ecc-site {
    font-size: 16px;
  }
  .count-title {
    font-size: 36px !important;
    line-height: 200% !important;
  }
  .count-text {
    font-size: 16px !important;
    line-height: 150% !important;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
  }
  .section-3 {
    padding: 70px 0;
  }
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  .section-10,
  .section-11 {
    padding: 60px 0;
  }
  .section-4 {
    padding: 70px 0 70px 0;
  }
  .section-7 .sub-heading {
    font-size: 42px;
    line-height: 125%;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
  }
  .section-3 .nav-pills-custom .nav-link {
    font-size: 16px;
  }
  .nav.flex-column.nav-pills.nav-pills-custom {
    padding: 40px 25px;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    padding: 16px 16px;
    /* background: linear-gradient(96.98deg, #132547 -22.77%, #4457FF 50.88%, #132547 116.2%); */
  }
  .section-3 .nav-pills-custom .nav-link {
    margin-bottom: 15px;
  }
}

@media (max-width: 1199px) {
  .ban-head {
    font-size: 42px;
    line-height: 100%;
  }
  .heading {
    font-size: 36px;
    line-height: 125%;
  }
  .sec-adg .sec-bladj {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .sec-adg {
    flex-wrap: wrap;
  }
  .section-2 h3 {
    margin: 0 0 0 20px;
    font-size: 16px;
  }
  .sub-heading {
    font-size: 18px;
  }
  .inner-head {
    font-size: 28px;
    line-height: 100%;
  }
  .ecc-site {
    font-size: 16px;
  }
  .count-title {
    font-size: 32px !important;
    line-height: 200% !important;
  }
  .count-text {
    font-size: 16px !important;
    line-height: 150% !important;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
  }
  .section-3 {
    padding: 50px 0;
  }
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  .section-10,
  .section-11 {
    padding: 50px 0;
  }
  .section-4 {
    padding: 50px 0 50px 0;
  }
  .section-3 .nav-pills-custom .nav-link {
    font-size: 18px;
  }
  .section-6 .nav.nav-pills {
    overflow: auto;
    flex-wrap: nowrap;
  }
  .section-6 .nav-item .nav-link {
    font-size: 16px;
  }
  .inner-block-form .in-content {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .inner-block-form .ecc-btn {
    padding: 0;
    flex: 0 0 40%;
    max-width: 40%;
    background: transparent;
  }
  .footer,
  .inner-last-foot {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* v */

  .section-8 .row {
    margin-top: 40px;
  }
  .section-9 .heading-content {
    margin-bottom: 40px;
  }
  /* .another-sec-9{
		padding: 50px 0px 0px!important;
	} */
  .development h4 {
    line-height: 130%;
    min-height: 52px;
  }
  .section-7 .sub-heading {
    font-size: 36px;
    line-height: 125%;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
  }
  .section-3 .nav-pills-custom .nav-link {
    font-size: 15px;
  }
  .nav.flex-column.nav-pills.nav-pills-custom {
    padding: 40px 20px;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    padding: 16px 16px;
    /* background: linear-gradient(96.98deg, #132547 -22.77%, #4457FF 50.88%, #132547 116.2%); */
  }
  .section-3 .nav-pills-custom .nav-link {
    margin-bottom: 10px;
  }
}

@media (max-width: 1099px) {
  .ban-head {
    font-size: 36px;
    line-height: 100%;
    min-width: auto;
  }
  .heading {
    font-size: 32px;
    line-height: 125%;
  }

  .section-2 h3 {
    margin: 0 0 0 20px;
    font-size: 16px;
  }
  .sub-heading {
    font-size: 18px;
  }
  .inner-head {
    font-size: 24px;
    line-height: 100%;
  }
  .ecc-site {
    font-size: 16px;
  }
  .count-title {
    font-size: 28px !important;
    line-height: 200% !important;
  }
  .count-text {
    font-size: 16px !important;
    line-height: 150% !important;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
  }
  .sec-6-app-img img {
    width: 100%;
  }
  .section-6 .nav.nav-pills .nav-item {
    max-width: fit-content;
    width: fit-content;
    float: left;
  }
  .section-6 .nav-item .nav-link {
    width: max-content;
  }
  .sec-6-app-img {
    margin: 0 0 40px 0;
  }
  /* v */
  .section-3 .ecc-btn {
    margin: 40px auto 0;
  }
  .section-7 .sub-heading {
    font-size: 32px;
    line-height: 125%;
  }
}

@media (max-width: 991px) {
  .ban-head {
    font-size: 32px;
    line-height: 100%;
    min-width: auto;
  }
  header.logo-bar {
    background: #f3f5ff;
    z-index: 9;
  }
  .logo-bar .navbar-brand img {
    width: 100px;
    height: auto;
  }
  .sec-contact .row.row-dtr {
    gap: 32px;
  }
  .sec-contact .heading, .sec-contact .sub-heading {
    text-align: center;
  }
  header.logo-bar {
    padding: 8px 50px;
  }
  .sec-bladj-img img {
    width: auto;
    height: 36px;
  }
  .sec-bladj-content h3 {
    font-weight: 600;
    font-size: 18px;
  }
  .sec-bladj {
    padding: 24px;
    gap: 24px;
  }
  .banner {
    padding: 120px 0 0 50px;
  }
  .heading {
    font-size: 28px;
    line-height: 125%;
  }

  .section-2 h3 {
    margin: 0 0 0 20px;
    font-size: 16px;
  }
  .ecc-site {
    font-size: 16px;
  }
  .section-3 .nav-pills-custom .nav-link.active {
    right: 0px;
    padding: 10px 20px;
    text-align: center;
  }
  .section-3 .nav-pills-custom .nav-link {
    text-align: left;
    max-width: fit-content;
  }
  .nav.flex-column.nav-pills.nav-pills-custom {
    display: flex;
    gap: 10px;
    flex-direction: row !important;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .section-3 .nav-pills-custom .nav-link {
    font-size: 16px;
  }
  .section-3 .nav-pills-custom .nav-link {
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  .nav.flex-column.nav-pills.nav-pills-custom {
    padding: 20px;
    margin-bottom: 30px;
  }
  .section-9 .inner-block-2 {
    margin: 20px 0;
  }
  .section-8 .in-content {
    margin-top: 30px;
  }
  .footer,
  .inner-last-foot {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-3 .nav-pills-custom .nav-link {
    min-width: 150px;
    max-width: 180px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-3 .nav-pills-custom .nav-link:hover {
    color: #fff;
    background: linear-gradient(
      96.98deg,
      #132547 -22.77%,
      #4457ff 50.88%,
      #132547 116.2%
    );
    border-radius: 50px;
    text-align: center;
  }
  .section-6 .nav.nav-pills {
    overflow: auto;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .section-8 .row {
    margin-top: 30px;
    align-items: center;
  }
  .head-btn {
    display: none;
  }
  .footer .foot-half ul li {
    float: left;
    width: 100%;
  }
  .section-8 .in-content .sub-heading {
    padding: 0px 0;
  }
  .section-3 .ecc-btn {
    margin: 30px auto 0;
  }
  /* v */
  /* .in-content {
		margin-top: 24px;
	} */
  .section-8 .ecc-btn {
    background: transparent;
    padding: 0;
    margin-top: 30px;
  }
  .section-9 .heading {
    margin-bottom: 30px;
  }
  .section-9 .client-testimonial-content p {
    min-height: 156px;
  }
  .section-8 .sub-heading {
    font-size: 24px;
  }
  /* .section-9 {
		padding: 50px 0px 0px!important;
	} */
}

@media (max-width: 767px) {
  .ban-head {
    font-size: 28px;
    line-height: 100%;
    min-width: auto;
  }
  .sec-contact .banner-form {
    padding: 20px;
  }
  .sec-contact {
    padding: 30px 0;
  }
  .banner.banner-af.banner-contact {
    padding: 140px 0 50px 0;
  }
  .sec-contact .row.row-dtr {
    gap: 24px;
  }
  .banner.banner-af .row.row-dtr {
    gap: 30px;
  }
  .section-5.section-5-af .row.row-sec-4 .row {
    gap: 24px;
  }
  .sec-adg .sec-bladj {
    flex: 0 0 45%;
    max-width: 45%;
  }
  .section-8 .in-content p {
    font-size: 16px;
  }
  .section-4 {
    padding: 40px 0 40px 0;
  }
  header.logo-bar {
    padding: 8px 0px;
  }
  .banner {
    padding: 120px 0 0 0px;
  }
  .footer .foot-img .profil_img {
    width: 100px;
    height: auto;
  }
  .section-9 .client-testimonial-content p {
    margin: 0;
    font-size: 16px;
    min-height: auto;
    text-align: left;
  }
  .heading {
    font-size: 24px;
    line-height: 125%;
  }
  .section-3 .nav-pills-custom .nav-link {
    font-size: 13px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
  }
  .section-3 .row.row-padd {
    padding: 20px 10px;
    margin-left: 1px;
    margin-right: 1px;
  }
  .sub-heading {
    text-align: center;
  }
  .ban-head {
    text-align: center;
    padding: 10px 0 20px 0;
  }
  .ecc-btn {
    margin: 0 auto 20px;
  }
  .banner .banner-images {
    width: 70%;
    margin: auto;
  }
  .section-2 {
    padding: 12px 0;
  }
  .development .icon-factor img {
    width: auto;
    height: 36px;
  }
  .ecc-btn span {
    font-size: 14px;
  }
  .ecc-btn {
    margin: 0 auto 20px;
    flex-direction: column;
    padding: 0;
    background: transparent;
  }
  .ecc-site {
    padding: 14px 32px;
  }
  .section-11 .ecc-btn {
    background: #fff0;
    margin: auto;
  }
  .inner-block-form .ecc-btn {
    margin: 0;
  }
  .section-7 .heading,
  .section-7 .sub-heading {
    text-align: center;
  }
  .section-8 .in-content .inner-head {
    text-align: center;
  }
  .section-9 .inner-block-3 .in-content .sub-heading {
    padding: 0;
  }
  .hiding {
    display: block;
  }
  .showing {
    display: none;
  }
  .banner .ecc-btn {
    padding: 12px 20px 12px 12px !important;
    background: #f3f5ff;
  }
  .banner .ecc-site {
    display: inline-flex;
  }
  .logo-bar .navbar-brand img {
    width: 100px;
    height: auto;
  }

  .development {
    background: #fff;
  }
  .section-5 .owl-theme .owl-dots .owl-dot span {
    background: linear-gradient(
      89.98deg,
      #132547 0.02%,
      #4457ff 48.91%,
      #132547 97.81%
    );
  }
  .section-5 .owl-theme .owl-dots .owl-dot.active span,
  .section-5 .owl-theme .owl-dots .owl-dot:hover span {
    background: linear-gradient(
      89.98deg,
      #132547 0.02%,
      #4457ff 48.91%,
      #132547 97.81%
    );
    width: 50px;
  }
  .banner .ecc-btn {
    display: none;
  }
  .mb-btn {
    width: 100%;
    float: left;
    display: block;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ffffff2b;
    z-index: 999;
  }
  .mb-btn a {
    display: block;
    text-align: center;
    background: #4457ff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
  }
  .inner-last-foot p {
    text-align: center;
  }
  .foot-left p {
    text-align: center;
  }
  .inner-last-foot {
    padding-bottom: 90px;
  }
  .footer .mb-new-foot ul {
    margin-bottom: 0;
    margin-top: 24px;
  }
  .footer .footer-social-icon {
    margin: 0;
  }
  .section-8 .in-content p {
    text-align: center;
  }
  .section-8 .ecc-btn {
    margin-top: 24px;
  }
  .nav.flex-column.nav-pills.nav-pills-custom {
    padding: 10px 10px;
  }
  /* v */
  .section-11 #accordion {
    margin: 30px 0;
  }
  .section-6 .nav.nav-pills {
    margin: 30px 0 0 0;
  }
  .section-9 .heading-content {
    margin-bottom: 30px;
  }
  .section-9 .client-testimonial-content {
    min-height: auto;
  }
  .section-11 .card-header a {
    font-size: 18px;
    line-height: 130%;
  }
  .development h4 {
    min-height: auto;
  }
  .section-8 .sub-heading {
    text-align: center;
  }
  .section-8 .sub-heading {
    font-size: 20px;
  }
  .section-9 .heading {
    margin-bottom: 20px;
  }
  .client-testimonials-inner-img img {
    height: 34px !important;
  }
  .inner-block-form {
    padding: 5px 5px 5px 15px;
  }
  .footer .oo-p {
    padding: 16px 0 20px 0;
  }
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  .section-10,
  .section-11 {
    padding: 40px 0;
  }
  .section-3 {
    padding: 40px 0;
  }
  .section-9 .client-testimonials {
    padding: 22px 22px;
  }
  .section-9 .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px;
  }
}

.iti__selected-flag {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 48px !important;
  padding: 0 6px 0 8px;
}
@media (max-width: 576px) {
  .section-2 h3 {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  .client-testimonials_new1 img {
	width: 50px !important;
	height: 50px;
	border-radius: 50%;
}
.client-testimonials_new1 h3 {
	font-size: 16px;
}
.client-testimonials_new1 h3 span {
	font-size: 14px;
}
.client-testimonials_new1 p {
	font-size: 14px;
}
  .sec-adg .sec-bladj {
    flex: 0 0 100%;
    max-width: 100%;
  }.sec-5-af-block-3 p {
    font-size: 13px;
  }
  .sec-5-af-block-3 h4 {
    font-size: 32px;
  }
  .foeszs {
    display: none;
  }
  .inner-last-foot .row {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .footer .mb-new-foot ul {
    margin-bottom: 0;
    margin-top: 24px;
    flex-direction: column;
    gap: 10px;
  }
  .inner-last-foot p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  .section-4 {
    padding: 30px 0 30px 0;
  }
  .move-content .moving img {
    width: auto;
    height: 20px;
  }
  #rssBlock {
    margin: 10px 0px 0 0;
  }
  .inner-block-form .in-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .inner-block-form .ecc-btn {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .inner-block-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .inner-block-form .form-group input {
    border-radius: 40px;
  }
  .ecc-site-form {
    padding: 10px 10px;
    border-radius: 40px;
    font-size: 14px;
  }
  .section-10 {
    padding-top: 40px;
  }
  .right-bord::after {
    content: '';
    top: -12px;
    right: 0;
    width: 1px;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .footer .foot-half ul li {
    float: left;
    width: 100%;
  }
  .mb-new-foot h3 {
    text-align: center;
  }
  .mb-new-foot ul li {
    text-align: center;
  }
  .mb-new-foot-1 h3 {
    text-align: center;
  }
  .footer .footer-social-icon {
    justify-content: center;
  }
  .footer h3 {
    font-size: 24px;
  }
  .development p {
    min-height: 80px;
    font-weight: 500;
  }
  .new-marg {
    width: 90%;
    margin: auto;
  }
  .inner-block-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .inner-block-form .in-content {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .inner-block-form .ecc-btn {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .inner-block-form .form-group input {
    height: 30px;
  }
  .sub-heading-center {
    margin: 20px 0 20px 0;
  }
  .sub-heading {
    font-size: 16px;
  }
  .section-6 .nav.nav-pills {
    margin: 20px 0 0 0;
  }
  .section-11 #accordion {
    margin: 20px 0;
  }
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9,
  .section-10,
  .section-11 {
    padding: 30px 0;
  }
  .section-3 {
    padding: 30px 0;
  }
}
@media (max-width: 420px) {
  .inner-block-form {
    flex-direction: column;
    border: none;
  }
  .inner-block-form .in-content {
    flex: 0 0 100%;
    max-width: 100%;
    border: 1px solid #ffff;
    padding: 10px;
    border-radius: 46px;
  }
  .inner-block-form .ecc-btn {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ecc-site-form {
    padding: 16px;
    border-radius: 40px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .development p {
    min-height: 100px;
  }
}
